@media (prefers-color-scheme: dark){
    body {color:#fff;background:#000}
    a:link {color:#9cf}
    a:hover, a:visited:hover {color:#cef}
    a:visited {color:#c9f}
}
body {
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
}
pre {
    border: 1px solid #ddd;
    page-break-inside: avoid;
    font:1.2em/1.62 monospace;
    margin-bottom: 0.5em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1em;
    word-wrap: break-word;
}
h1, h2, h3, p {
    margin:2rem 0px;
}
@media print{
    body{
        max-width:none
    }
}
